html {
  overflow-y: scroll;
}
@font-face {
  font-family: 'Kurale';
  src: local('@');
  src: url('../fonts/Kurale-Regular.woff') format('woff');
  src: url('../fonts/Kurale-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Myriad Pro';
  src: local('@');
  src: url('../fonts/MyriadPro-Regular.woff') format('woff');
  src: url('../fonts/MyriadPro-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
  background: linear-gradient(to right, #494643 0%, #59544f 40%, #59544f 60%, #494643 100%);
  font-family: Myriad Pro, sans-serif;
}
.menu {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.href {
  text-decoration: none;
  color: black;
}
.text-title {
  font-family: Kurale, serif;
}
.header {
  width: 100%;
}
@media screen and (max-width: 320px) {
  .header {
    display: none;
  }
}
.header-books {
  width: 100%;
  height: 3.6vw;
  background: #2f2c2a;
}
.header-books__image {
  width: inherit;
  height: 3.5vw;
  background: url("../img/books.png") repeat-x;
  background-size: auto 100%;
}
.header-books__shadow {
  width: inherit;
  height: inherit;
  margin-top: -3.5vw;
  background: linear-gradient(to right, rgba(47, 44, 42, 0.6) 0%, rgba(47, 44, 42, 0) 50%, rgba(47, 44, 42, 0.6) 100%);
}
@media screen and (min-width: 1024px) and (max-width: 1400px) {
  .header-books {
    height: 50px;
  }
  .header-books__image {
    height: 47px;
  }
  .header-books__shadow {
    height: 50px;
    margin-top: -47px;
  }
}
@media screen and (max-width: 1024px) {
  .header-books {
    height: 25px;
  }
  .header-books__image {
    height: 22px;
    background-position: 100% 100%;
    background-size: auto 150%;
  }
  .header-books__shadow {
    height: 25px;
    margin-top: -22px;
  }
}
.header-shelf {
  display: flex;
  align-items: center;
  width: 100%;
  height: 55px;
  background: linear-gradient(to right, #4c4135, #75644c 50%, #4c4135);
  border-top: solid 1px #231f20;
  border-bottom: solid 1px #231f20;
}
@media screen and (max-width: 1024px) {
  .header-shelf {
    justify-content: space-between;
    height: 35px;
  }
}
.header-caption {
  display: flex;
  align-items: center;
  width: auto;
  height: 7.6vw;
  margin-left: 1.5vw;
  margin-right: 3vw;
}
.header-caption__href {
  display: flex;
  align-items: center;
}
.header-caption__logo {
  width: 5.5vw;
  height: 7.7vw;
  margin-right: 1.25vw;
  background: url("../img/logo.png") no-repeat;
  background-size: 100%;
}
.header-caption__title {
  font-size: 2vw;
  line-height: 55px;
  letter-spacing: 3px;
  color: #f0b055;
}
@media screen and (min-width: 1024px) and (max-width: 1400px) {
  .header-caption__logo {
    width: 77px;
    height: 108px;
    margin-right: 17px;
  }
  .header-caption__title {
    font-size: 28px;
  }
}
@media screen and (max-width: 1024px) {
  .header-caption__logo {
    width: 50px;
    height: 70px;
    margin-right: 15px;
  }
  .header-caption__title {
    font-size: 20px;
  }
}
.header-menu {
  display: flex;
}
.header-menu__items {
  display: flex;
  align-items: center;
}
.header-menu__hr {
  display: block;
  width: 1px;
  height: 31px;
  background: rgba(0, 0, 0, 0.3);
}
.header-menu__href {
  display: block;
  width: 10.5vw;
  height: 40px;
  text-align: center;
  line-height: 40px;
  color: #f0b055;
  font-size: 1.3vw;
}
.header-menu__href:hover {
  background: linear-gradient(to right, rgba(156, 136, 103, 0.1) 0%, rgba(156, 136, 103, 0.7) 30%, rgba(156, 136, 103, 0.7) 70%, rgba(156, 136, 103, 0.1) 100%);
  border-radius: 5px;
  color: #ffdf8b;
  transition-duration: 1s;
}
.header-menu__active {
  display: none;
  position: absolute;
  top: 30px;
  left: 200px;
}
@media screen and (min-width: 1024px) and (max-width: 1400px) {
  .header-menu__href {
    width: 12vw;
    font-size: 18px;
  }
}
@media screen and (max-width: 1024px) {
  .header-menu__items {
    flex-direction: column;
    position: absolute;
    top: 61px;
    left: 200px;
    height: 0;
    overflow: hidden;
    border: none;
    border-bottom-right-radius: 10px;
    background: #75644c;
    z-index: 5;
    transition-duration: 0.5s;
  }
  .header-menu__active {
    display: block;
    width: 0;
    margin-right: 200px;
    transition-duration: 0.5s;
  }
  .header-menu__active::after {
    content: "";
    display: block;
    width: 25px;
    height: 25px;
    margin-left: 5px;
    margin-top: -2px;
    background: url("../img/menu-icon.png");
    background-size: 100%;
    cursor: pointer;
    transition-duration: 0.5s;
  }
  .header-menu__active:checked::after {
    transform: rotate(90deg);
    transition-duration: 0.5s;
  }
  .header-menu__active:checked + .header-menu__items {
    height: 205px;
    transition-duration: 0.5s;
  }
  .header-menu__item {
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    border-left: none;
    border-right: none;
  }
  .header-menu__href {
    width: 250px;
    font-size: 17px;
  }
  .header-menu__hr {
    display: none;
  }
}
@media screen and (max-width: 415px) {
  .header-menu__items {
    left: 60px;
  }
}
.header-login {
  margin-left: 2vw;
}
.header-login__button {
  display: flex;
  align-items: center;
}
.header-login__button:hover .header-login__form {
  background: #6a5d4a;
  border-color: #ae988d;
  transition-duration: 1s;
  color: #d8c9b5;
}
.header-login__form-field {
  width: 194px;
  height: 35px;
  transform-origin: 0 0 0;
}
.header-login__form {
  display: block;
  width: 192px;
  height: 33px;
  background: #5b4e3f;
  border: 2px dashed #9c877c;
  border-radius: 0.52vw;
  font-size: 1.3vw;
  line-height: 33px;
  color: #b09f89;
  text-align: center;
}
@media screen and (max-width: 1400px) {
  .header-login__form {
    width: 5.9vw;
    border-radius: 7px;
    background: url("../img/login.png") no-repeat 50% 50%;
    background-size: auto 70%;
    color: rgba(0, 0, 0, 0);
  }
  .header-login:hover .header-login__form {
    background: #6a5d4a url("../img/login.png") no-repeat 50% 50%;
    background-size: auto 70%;
    color: rgba(0, 0, 0, 0);
  }
}
@media screen and (max-width: 1024px) {
  .header-login {
    margin-right: 10px;
    margin-top: 2px;
  }
  .header-login__form {
    width: 40px;
    height: 25px;
    margin-left: 1.56vw;
  }
}
.main {
  width: 1090px;
  height: 700px;
  overflow: hidden;
  margin: 40px auto;
  border-radius: 10px;
  background-color: #f2d8c2;
}
@media screen and (max-width: 1400px) {
  .main {
    width: 77.86vw;
    height: 50vw;
  }
}
@media screen and (max-width: 900px) {
  .main {
    width: 90vw;
    height: 420px;
    padding-bottom: 20px;
  }
}
@media screen and (max-width: 640px) {
  .main {
    height: 480px;
  }
}
@media screen and (max-width: 320px) {
  .main {
    display: none;
  }
}
.main__background {
  width: 100%;
  height: 37.14%;
  background: #ffffff;
}
.main__background_theme_autumn {
  background: url("../img/autumn.jpg") no-repeat 50% 50%;
  background-size: 100%;
}
.main__shadow {
  width: 100%;
  height: 37.14%;
  margin-top: -23.86%;
  background: linear-gradient(to right, rgba(47, 44, 42, 0.6) 0%, rgba(47, 44, 42, 0) 20%, rgba(47, 44, 42, 0) 80%, rgba(47, 44, 42, 0.6) 100%);
}
@media screen and (max-width: 900px) {
  .main__background {
    height: 150px;
  }
  .main__shadow {
    height: 300px;
    margin-top: -300px;
  }
}
.main-header {
  display: flex;
  flex-direction: column;
  position: absolute;
  z-index: 1;
}
.main-header__block {
  width: 1090px;
  height: 90px;
  margin-top: -90px;
  background-color: #f2d8c2;
  opacity: 0.75;
}
.main-header-content {
  display: flex;
  align-items: flex-start;
  position: relative;
  margin-top: -141px;
}
@media screen and (max-width: 1400px) {
  .main-header__block {
    width: 77.86vw;
  }
  .main-header-content {
    margin-top: -10.07vw;
  }
}
@media screen and (max-width: 1200px) {
  .main-header__block {
    height: 7.5vw;
    margin-top: -7.5vw;
  }
}
@media screen and (max-width: 900px) {
  .main-header__block {
    width: 90vw;
  }
}
@media screen and (max-width: 710px) {
  .main-header__block {
    height: 70px;
    margin-top: -70px;
  }
  .main-header-content {
    margin-top: -70px;
  }
}
@media screen and (max-width: 555px) {
  .main-header__block {
    height: 80px;
    margin-top: -80px;
  }
  .main-header-content {
    margin-top: -100px;
  }
}
@media screen and (max-width: 460px) {
  .main-header__block {
    height: 100px;
    margin-top: -100px;
  }
  .main-header-content {
    margin-top: -100px;
  }
}
.main-avatar {
  display: flex;
  flex-direction: column;
  margin-left: 28px;
}
.main-avatar__image {
  width: 215px;
  height: 240px;
  background: #ffffff url("../img/gagfox.png") no-repeat 50% 50%;
  border: solid 1px #c4a28c;
  border-radius: 4px;
  background-size: 70.7% 52.1%;
}
.main-avatar__button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 215px;
  height: 40px;
  margin-top: 14px;
  background-color: #ceaf93;
  border-radius: 4px;
  box-shadow: 2px 4px 0 0 rgba(176, 159, 137, 0.8);
}
.main-avatar__button::before {
  content: "";
  display: block;
  width: 22px;
  height: 21px;
  margin-right: 7px;
  background: url("../img/camera.png") no-repeat;
  background-size: 100%;
}
.main-avatar__button::after {
  content: "изменить аватар";
  display: block;
  margin-top: 5px;
  font-size: 17px;
  line-height: 40px;
  color: #ffffff;
  background-size: 100%;
}
.main-avatar__button:hover {
  background: #dbba9c;
  transition-duration: 0.3s;
}
@media screen and (max-width: 1400px) {
  .main-avatar__image {
    width: 15.36vw;
    height: 17.14vw;
    border-radius: 0.28vw;
  }
  .main-avatar__button {
    width: 15.36vw;
    margin-top: 1vw;
    border-radius: 0.28vw;
  }
}
@media screen and (max-width: 1200px) {
  .main-avatar__button::before {
    width: 1.83vw;
    height: 1.75vw;
    margin-right: 0.58vw;
  }
  .main-avatar__button::after {
    margin-top: 0.42vw;
    font-size: 1.5vw;
    line-height: 3.33vw;
  }
}
@media screen and (max-width: 900px) {
  .main-avatar {
    margin-left: 20px;
  }
  .main-avatar__image {
    background-size: 91px 75px;
  }
}
@media screen and (max-width: 710px) {
  .main-avatar {
    margin-top: -30px;
    margin-left: 10px;
  }
  .main-avatar__image {
    width: 96px;
    height: 210px;
  }
  .main-avatar__button {
    position: relative;
    top: -30px;
    left: 67px;
    width: 30px;
    height: 30px;
    margin: 0;
    border-top-left-radius: 4px;
    box-shadow: none;
    opacity: 0.6;
  }
  .main-avatar__button::after {
    display: none;
  }
  .main-avatar__button::before {
    position: relative;
    left: 2px;
    width: 20px;
    height: 20px;
    background: url("../img/change-icon.png") no-repeat 50% 50%;
    background-size: 100%;
    transition-duration: 0.2s;
  }
  .main-avatar__button:hover {
    opacity: 1;
  }
  .main-avatar__button:hover::before {
    transform: rotate(180deg);
    transition-duration: 0.3s;
  }
}
@media screen and (max-width: 555px) {
  .main-avatar {
    margin-top: -20px;
  }
}
.main-namespace {
  display: flex;
  flex-direction: column;
  margin-left: 21px;
  margin-right: 172px;
  margin-top: 60px;
}
.main-namespace__name {
  display: block;
  position: relative;
  font-size: 30px;
  color: #513b25;
}
.main-namespace__nickname {
  margin-top: 6px;
  margin-left: 8px;
  font-size: 18px;
  color: #7f6d58;
}
@media screen and (max-width: 1400px) {
  .main-namespace {
    margin-left: 1.5vw;
    margin-right: 8vw;
    margin-top: 4vw;
  }
}
@media screen and (max-width: 1300px) {
  .main-namespace {
    margin-top: 3.6vw;
  }
  .main-namespace__name {
    font-size: 2.31vw;
  }
  .main-namespace__nickname {
    margin-top: 0.46vw;
    margin-left: 0.62vw;
    font-size: 1.38vw;
  }
}
@media screen and (max-width: 900px) {
  .main-namespace {
    width: 50%;
    margin-right: 12%;
  }
  .main-namespace__name {
    font-size: 20px;
  }
}
@media screen and (max-width: 710px) {
  .main-namespace {
    width: 70%;
    margin-right: 0;
    margin-top: 5px;
  }
  .main-namespace__name {
    font-size: 25px;
  }
  .main-namespace__nickname {
    font-size: 15px;
  }
}
@media screen and (max-width: 635px) {
  .main-namespace {
    margin-top: 10px;
  }
  .main-namespace__name {
    font-size: 22px;
    line-height: 22px;
  }
  .main-namespace__nickname {
    font-size: 15px;
    line-height: 20px;
  }
}
@media screen and (max-width: 555px) {
  .main-namespace {
    margin-top: 5px;
  }
  .main-namespace__nickname {
    margin-top: 4px;
  }
}
@media screen and (max-width: 460px) {
  .main-namespace__name {
    height: 70px;
    width: 100px;
  }
}
.main-status {
  display: block;
  position: relative;
  margin-top: 78px;
  font-size: 19px;
  color: #513b25;
}
@media screen and (max-width: 1400px) {
  .main-status {
    margin-top: 5.2vw;
  }
}
@media screen and (max-width: 1300px) {
  .main-status {
    margin-top: 5vw;
    font-size: 1.46vw;
  }
}
@media screen and (max-width: 710px) {
  .main-status {
    display: none;
  }
}
.main-menu {
  display: block;
  position: absolute;
  z-index: 2;
  margin-left: 251px;
  margin-top: 10px;
}
.main-menu__items {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 830px;
}
.main-menu__item {
  display: block;
  width: 273px;
  height: 50px;
  background: #2fd1b2;
  border-radius: 4px;
  box-shadow: 2px 4px 0 0 rgba(176, 159, 137, 0.8);
  text-align: center;
  line-height: 50px;
  font-size: 22px;
  color: #ffffff;
}
.main-menu__item:hover {
  background: #76e5cc;
  box-shadow: 0 2px 0 #bbffeb, 0px -2px 0px #bbffeb, 2px 0px 0px #bbffeb, -2px 0px 0px #bbffeb;
  transition-duration: 0.3s;
}
@media screen and (max-width: 1400px) {
  .main-menu {
    margin-left: 18.5vw;
    margin-top: 0.71vw;
  }
  .main-menu__items {
    width: 58vw;
  }
  .main-menu__item {
    width: 19vw;
    height: 3.57vw;
    border-radius: 0.29vw;
    line-height: 3.57vw;
    font-size: 1.57vw;
  }
}
@media screen and (max-width: 1200px) {
  .main-menu {
    margin-left: 19.6vw;
  }
  .main-menu__items {
    width: 57vw;
  }
  .main-menu__item {
    width: 18vw;
    height: 3.57vw;
    border-radius: 0.29vw;
    line-height: 3.57vw;
    font-size: 1.57vw;
  }
}
@media screen and (max-width: 900px) {
  .main-menu {
    margin-left: 19.48vw;
  }
  .main-menu__items {
    width: 70vw;
  }
  .main-menu__item {
    width: 22.22vw;
    height: 35px;
    margin-right: 5px;
    font-size: 14px;
    line-height: 35px;
  }
}
@media screen and (max-width: 710px) {
  .main-menu {
    margin-left: 120px;
  }
}
@media screen and (max-width: 640px) {
  .main-menu__item {
    width: 200px;
    height: 29px;
    margin-right: 100px;
    margin-top: 5px;
    padding-right: 10vw;
    line-height: 29px;
  }
}
@media screen and (max-width: 460px) {
  .main-menu__items {
    width: auto;
  }
  .main-menu__item {
    height: 25px;
    margin-right: 0;
    padding-right: 0;
    line-height: 25px;
  }
}
@media screen and (max-width: 370px) {
  .main-menu__item {
    width: 150px;
  }
}
.main-information {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  position: absolute;
  z-index: 3;
  box-sizing: border-box;
  width: 814px;
  height: 316px;
  margin-left: 258px;
  margin-top: 75px;
  padding: 20px;
  background-color: #f9eade;
  border-bottom-right-radius: 5px;
}
.main-information__title {
  display: block;
  width: 180px;
  height: 19px;
  font-size: 22px;
  color: #513b25;
  text-transform: uppercase;
}
.main-information__hr {
  display: block;
  width: 590px;
  height: 1px;
  margin-top: 10px;
  background-color: #b09f89;
}
.main-information__edit {
  display: block;
  width: 190px;
  height: 15px;
  margin-left: 590px;
  font-size: 17px;
  color: #ceaf93;
}
.main-information-content {
  display: flex;
  flex-direction: column;
}
.main-information-content__item {
  display: flex;
  margin-bottom: 33px;
}
.main-information-content__item:first-child {
  margin-top: 19px;
}
.main-information-content__item-title {
  display: block;
  width: 200px;
  font-size: 19px;
  text-align: right;
  color: #513b25;
  text-transform: uppercase;
}
.main-information-content__fill {
  display: block;
  width: 400px;
  margin-left: 23px;
  font-size: 19px;
  line-height: 1.42;
  color: #513b25;
}
.main-information-content__fill_special-content {
  color: #b09f89;
}
@media screen and (max-width: 1400px) {
  .main-information {
    width: 58.14vw;
    height: 22.57vw;
    margin-left: 18.43vw;
    margin-top: 5.36vw;
    padding: 1.43vw;
    border-bottom-right-radius: 0.36vw;
  }
  .main-information__hr {
    width: 40.3vw;
    height: 1px;
  }
  .main-information__edit {
    width: 15.83vw;
    height: 1.07vw;
    margin-left: 42.14vw;
    font-size: 1.21vw;
  }
  .main-information-content__item {
    margin-bottom: 2.36vw;
  }
  .main-information-content__item:first-child {
    margin-top: 1.36vw;
  }
  .main-information-content__item-title {
    width: 14.29vw;
    font-size: 1.36vw;
  }
  .main-information-content__fill {
    display: block;
    width: 28.57vw;
    margin-left: 1.64vw;
    font-size: 1.36vw;
    line-height: 1.42;
  }
}
@media screen and (max-width: 1200px) {
  .main-information {
    width: 57vw;
    margin-left: 19.53vw;
    margin-top: 5.36vw;
    padding: 1.43vw;
    border-bottom-right-radius: 0.36vw;
  }
  .main-information__title {
    width: 15vw;
    height: 1.58vw;
    font-size: 1.83vw;
  }
  .main-information__hr {
    width: 38.6vw;
    height: 1px;
    margin-top: 0.71vw;
  }
  .main-information__edit {
    margin-left: 39vw;
    font-size: 1.4vw;
  }
}
@media screen and (max-width: 900px) {
  .main-information {
    width: 69vw;
    height: auto;
    margin-top: 55px;
    font-size: 15px;
    border-radius: 4px;
  }
  .main-information__title {
    width: 125px;
    font-size: 15px;
  }
  .main-information__hr {
    width: calc(100% - 125px);
  }
  .main-information__edit {
    width: 130px;
    margin-left: calc(100% - 130px);
    font-size: 12px;
  }
  .main-information-content__item-title {
    width: 110px;
    font-size: 12px;
  }
  .main-information-content__fill {
    font-size: 12px;
  }
  .main-information-content__fill_special-content {
    white-space: nowrap;
  }
}
@media screen and (max-width: 710px) {
  .main-information {
    margin-left: 120px;
  }
}
@media screen and (max-width: 640px) {
  .main-information {
    width: 83vw;
    margin-top: 120px;
    margin-left: 20px;
  }
  .main-information__edit {
    width: 20px;
    height: 20px;
    overflow: hidden;
    margin-left: calc(100% - 20px);
    opacity: 0.6;
    transition-duration: 0.3s;
  }
  .main-information__edit::before {
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    background: url("../img/edit-icon.png") no-repeat;
    background-size: 20px 20px;
  }
  .main-information__edit:hover {
    opacity: 1;
    transition-duration: 0.3s;
  }
}
@media screen and (max-width: 460px) {
  .main-information {
    width: 80vw;
    margin-top: 105px;
  }
}
.footer {
  width: 100%;
  height: 315px;
  background-image: linear-gradient(to bottom, #524636, #826f5b 20%, #826f5b 30%, #524636);
}
.footer__shelf {
  width: inherit;
  height: 19px;
  background-color: #968371;
}
@media screen and (max-width: 1235px) {
  .footer {
    height: calc(23.8vw + 19px);
  }
}
@media screen and (max-width: 1000px) {
  .footer {
    height: 350px;
  }
}
@media screen and (max-width: 715px) {
  .footer {
    height: 500px;
  }
}
@media screen and (max-width: 320px) {
  .footer {
    display: none;
  }
}
.footer-content {
  display: flex;
  justify-content: space-between;
}
.footer-content__column {
  width: 100px;
  height: 294px;
  margin-top: 2px;
  background: url("../img/column.png") no-repeat;
  background-size: 100px 100%;
}
.footer-content__column:first-child {
  margin-left: 3.28vw;
}
.footer-content__column:last-child {
  margin-right: 3.28vw;
}
@media screen and (max-width: 1235px) {
  .footer-content__column {
    width: 8.09vw;
    height: 23.8vw;
    background-size: 100%;
  }
}
@media screen and (max-width: 1000px) {
  .footer-content__column {
    width: 80px;
    height: 329px;
    background: url("../img/column-middle.png") no-repeat;
    background-size: 80px 329px;
  }
}
@media screen and (max-width: 715px) {
  .footer-content__column {
    width: 53px;
    height: 479px;
    background: url("../img/column-high.png") no-repeat;
    background-size: 53px 479px;
  }
}
.footer-menu {
  margin-top: 3.28vw;
}
.footer-menu__blocks {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 1000px) {
  .footer-menu {
    width: 70vw;
  }
  .footer-menu__blocks {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 715px) {
  .footer-menu__blocks {
    flex-direction: column;
  }
}
.footer-menu-block {
  display: flex;
  flex-direction: column;
  margin-right: 3.9vw;
}
.footer-menu-block:last-child {
  margin-right: 0;
}
.footer-menu-block__title {
  margin-right: 10px;
  margin-left: 5px;
  text-transform: uppercase;
  font-size: 20px;
  color: #d6d0c9;
}
.footer-menu-block__hr {
  width: inherit;
  height: 1px;
  background: #d6d0c9;
}
.footer-menu-block__item {
  display: flex;
  flex-direction: column;
  margin-left: 8px;
  margin-right: 10px;
  font-size: 20px;
}
.footer-menu-block__href {
  display: flex;
  align-items: center;
  color: #d6d0c9;
  margin-top: 15px;
}
.footer-menu-block__href_vk::before,
.footer-menu-block__href_fb::before,
.footer-menu-block__href_tw::before {
  content: "";
  display: block;
  width: 30px;
  height: 30px;
  margin-right: 10px;
}
.footer-menu-block__href_vk::before {
  background: url("../img/social-icon(1).png") no-repeat;
}
.footer-menu-block__href_fb::before {
  background: url("../img/social-icon(2).png") no-repeat;
}
.footer-menu-block__href_tw::before {
  background: url("../img/social-icon(3).png") no-repeat;
}
.footer-menu-block__href:hover {
  color: #ffffff;
}
@media screen and (max-width: 1235px) {
  .footer-menu-block__title {
    font-size: 1.62vw;
  }
  .footer-menu-block__item {
    margin-left: 0.64vw;
    margin-right: 0.81vw;
    font-size: 1.62vw;
  }
  .footer-menu-block__href {
    margin-top: 1.21vw;
  }
  .footer-menu-block__href_vk::before,
  .footer-menu-block__href_fb::before,
  .footer-menu-block__href_tw::before {
    width: 2.43vw;
    height: 2.43vw;
    margin-right: 0.81vw;
    background-size: 100%;
  }
}
@media screen and (max-width: 1024px) {
  .footer-menu-block__title {
    margin-right: 0.98vw;
    margin-left: 0.49vw;
  }
}
@media screen and (max-width: 1000px) {
  .footer-menu-block {
    width: 220px;
    margin: 0;
    margin-left: 20px;
  }
  .footer-menu-block:nth-child(3),
  .footer-menu-block:nth-child(4) {
    margin-top: 30px;
  }
  .footer-menu-block__title {
    font-size: 16px;
  }
  .footer-menu-block__item {
    margin: 0;
    font-size: 16px;
  }
  .footer-menu-block__href {
    margin-top: 12px;
  }
  .footer-menu-block__href_vk::before,
  .footer-menu-block__href_fb::before,
  .footer-menu-block__href_tw::before {
    width: 24px;
    height: 24px;
    margin-right: 8px;
    background-size: 100%;
  }
}
@media screen and (max-width: 715px) {
  .footer-menu-block:nth-child(2) {
    margin-top: 30px;
  }
  .footer-menu-block__title {
    font-size: 16px;
  }
  .footer-menu-block__item {
    margin: 0;
    font-size: 16px;
  }
  .footer-menu-block__href {
    margin-top: 8px;
  }
  .footer-menu-block__href_vk::before,
  .footer-menu-block__href_fb::before,
  .footer-menu-block__href_tw::before {
    width: 18px;
    height: 18px;
    margin-right: 6px;
    background-size: 100%;
  }
}
@media screen and (max-width: 390px) {
  .footer-menu-block {
    width: 190px;
  }
  .footer-menu-block__title {
    font-size: 14px;
  }
  .footer-menu-block__item {
    margin: 0;
    font-size: 14px;
  }
}
@media screen and (max-width: 340px) {
  .footer-menu-block {
    width: 170px;
  }
  .footer-menu-block__title {
    font-size: 12px;
  }
  .footer-menu-block__item {
    margin: 0;
    font-size: 12px;
  }
}
.error {
  display: none;
  position: absolute;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: #805549;
  transition-duration: 0.3s;
  overflow: hidden;
}
.error__image {
  width: 70vw;
  height: 70vw;
  margin: 40px auto;
  background: url("../img/error.png") no-repeat;
  background-size: 100%;
}
.error__text {
  width: 120px;
  height: auto;
  margin: 10px auto;
  color: white;
  text-align: center;
}
@media screen and (max-width: 320px) {
  .error {
    display: flex;
    flex-direction: column;
  }
}
