.header-menu {
  display: flex;

  &__item {
    border-left: 1px solid rgba(0, 0, 0, 0.3);

    &:last-child {
      border-right: 1c;
    }
  }

  &__href {
    display: block;
    width: 10.5vw;
    height: 31px;
    text-align: center;
    line-height: 31px;
    color: #f0b055;
    font-size: 1.3vw;

    &:hover {
      //background: rgba(156, 136, 103, 0.71);
      background: linear-gradient(to right, rgba(156, 136, 103, 0.1) 0%, rgba(156, 136, 103, 0.7) 30%, rgba(156, 136, 103, 0.7) 70%, rgba(156, 136, 103, 0.1) 100%);
      border-radius: 5px;
      color: #ffdf8b;
      transition-duration: 1s;
    }
  }

  &__active {
    display: none;
    position: absolute;
    top: 30px;
    left: 200px;
    width: 25px;
    height: 25px;
    margin-top: 2px;
    margin-left: 10px;
    background: url("../img/menu-icon.png");
    background-size: 100%;
  }

  @media screen and (min-width: 1024px) and (max-width: 1400px) {
    &__href {
      width: 12vw;
      font-size: 18px;
    }
  }

  @media screen and (max-width: 1024px) {

    &__items {
      display: none;
      flex-direction: column;
      position: absolute;
      top: 59px;
      left: 200px;
      border: 1px solid rgba(0, 0, 0, 0.3);
      border-top: none;
      border-bottom-right-radius: 10px;
      background: #75644c;
      z-index: 5;
    }

    &__active {
      display: block;
    }

    &:hover, &:active {
      & .header-menu__active {
        margin-right: 200px;
        transform: rotate(90deg);
        transition-duration: 0.5s;
      }

      & .header-menu__items {
        display: block;
      }
    }

    &__item {
      border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    }

    &__href {
      width:250px;
      font-size: 17px;
    }
  }

  @media screen and (max-width: 415px){
    &__items {
      left: 60px;
    }
  }
}