.header-menu {
  display: flex;

  &__item {
    border-left: 1px solid #231f20;

    &:last-child {
      border-right: 1px solid #231f20;
    }
  }

  &__href {
    display: block;
    width: 190px;
    height: 31px;
    text-align: center;
    line-height: 31px;
    color: #f0b055;
  }
}