.main-namespace {
  display: flex;
  flex-direction: column;
  margin-left: 21px;
  margin-right: 172px;
  margin-top: 60px;

  &__name {
    display: block;
    position: relative;
    font-size: 30px;
    color: #513b25;
  }

  &__nickname {
    margin-top: 6px;
    margin-left: 8px;
    font-size: 18px;
    color: #7f6d58;
  }

  @media screen and (max-width: 1400px) {
    & {
      margin-left: 1.5vw;
      margin-right: 8vw;
      margin-top: 4vw;
    }
  }

  @media screen and (max-width: 1300px) {
    & {
      margin-top: 3.6vw;
    }

    &__name {
      font-size: 2.31vw;
    }

    &__nickname {
      margin-top: 0.46vw;
      margin-left: 0.62vw;
      font-size: 1.38vw;
    }
  }

  @media screen and (max-width: 900px) {
    width: 50%;
    margin-right: 12%;

    &__name {
      font-size: 20px;
    }
  }

  @media screen and (max-width: 710px) {
    width: 70%;
    margin-right: 0;
    margin-top: 5px;

    &__name {
      font-size: 25px;
    }

    &__nickname {
      font-size: 15px;
    }
  }

  @media screen and (max-width: 635px) {
    margin-top: 10px;

    &__name {
      font-size: 22px;
      line-height: 22px;
    }

    &__nickname {
      font-size: 15px;
      line-height: 20px;
    }
  }

  @media screen and (max-width: 555px) {
    margin-top: 5px;

    &__nickname {
      margin-top: 4px;
    }
  }

  @media screen and (max-width: 460px) {
    &__name {
      height: 70px;
      width: 100px;
    }
  }
}