.main-header {
  display: flex;
  flex-direction: column;
  position: absolute;
  z-index: 1;

  &__block {
    width: 1090px;
    height: 90px;
    margin-top: -90px;
    background-color: #f2d8c2;
    opacity: 0.7;
  }

  &-content {
    display: flex;
    align-items: flex-start;
    position: relative;
    margin-top: -141px;
  }
}