.footer-content {
  display: flex;
  justify-content: space-between;

  &__column {
    width: 100px;
    height: 294px;
    margin-top: 2px;
    background: url("../img/column.png") no-repeat;
    background-size: 100%;

    &:first-child {
    margin-left: 63px;
    }

    &:last-child {
    margin-right: 63px;
    }
  }
}