.footer-content {
  display: flex;
  justify-content: space-between;

  &__column {
    width: 100px;
    height: 294px;
    margin-top: 2px;
    background: url("../img/column.png") no-repeat;
    background-size: 100px 100%;

    &:first-child {
    margin-left: 3.28vw;
    }

    &:last-child {
    margin-right: 3.28vw;
    }
  }

  @media screen and (max-width: 1235px) {
    &__column {
      width: 8.09vw;
      height: 23.8vw;
      background-size: 100%;
    }
  }

  @media screen and (max-width: 1000px) {
    &__column {
      width: 80px;
      height: 329px;
      background: url("../img/column-middle.png") no-repeat;
      background-size: 80px 329px;
    }
  }

  @media screen and (max-width: 715px) {
    &__column {
      width: 53px;
      height: 479px;
      background: url("../img/column-high.png") no-repeat;
      background-size: 53px 479px;
    }
  }
}