.footer {
  width: 100%;
  height: 315px;
  background-image: linear-gradient(to bottom, #524636, #826f5b 20%, #826f5b 30%, #524636);

  &__shelf {
    width: inherit;
    height: 19px;
    background-color: #968371;
  }

  @media screen and (max-width: 1235px) {
    & {
      height: ~"calc(23.8vw + 19px)";
    }
  }

  @media screen and (max-width: 1000px) {
    height: 350px;
  }

  @media screen and (max-width: 715px) {
    height: 500px;
  }
}

@import "content/content.less";