.main {
  &__background {
    width: 1090px;
    height: 260px;
    background: #ffffff;

    &_theme {
      &_autumn {
        background: url("../img/autumn.jpg") no-repeat 50% 50%;
        background-size: 100%;
      }
    }
  }

  &__shadow {
    width: 1090px;
    height: 260px;
    margin-top: -260px;
    background:
            linear-gradient(to right, rgba(47, 44, 42, 0.6) 0%, rgba(47, 44, 42, 0) 20%, rgba(47, 44, 42, 0) 80%,
            rgba(47, 44, 42, 0.6) 100%);
  }
}