.header-caption {
  display: flex;
  align-items: center;
  width: 18.3vw;
  height: 7.6vw;
  margin-left: 1.5vw;
  margin-right: 3vw;

  &__logo {
    width: 5.5vw;
    height: 7.7vw;
    margin-right: 1.25vw;
    background: url("../img/logo.png") no-repeat;
    background-size: 100%;
  }

  &__title {
    font-size: 2vw;
    line-height: 55px;
    letter-spacing: 3px;
    color: #f0b055;
  }

  @media screen and (min-width: 1024px) and (max-width: 1400px) {
    & {
      width: 253px;
    }

    &__title {
      font-size: 28px;
    }

    &__logo {
      width: 77px;
      height: 108px;
      margin-right: 17px;
    }
  }
}