.header-login {
  margin-left: 2vw;

  &__button {
    display: flex;
    align-items: center;

    &:hover {
      & .header-login__form {
        background: #6a5d4a;
        border-color: #ae988d;
        transition-duration: 1s;
        color: #d8c9b5;
      }
    }
  }

  &__form-field {
    width: 194px;
    height: 35px;
    transform-origin: 0 0 0;
  }

  &__form {
    display: block;
    width: 192px;
    height: 33px;
    background: #5b4e3f;
    border: 2px dashed #9c877c;
    border-radius: 0.52vw;
    font-size: 1.3vw;
    line-height: 33px;
    color: #b09f89;
    text-align: center;
  }

  @media screen and (max-width: 1400px) {
    &__form {
      width: 5.9vw;
      border-radius: 7px;
      background: url("../img/login.png") no-repeat 50% 50%;
      background-size: auto 70%;
      color: rgba(0, 0, 0, 0);
    }

    &:hover {
      & .header-login__form {
        background: #6a5d4a url("../img/login.png") no-repeat 50% 50%;
        background-size: auto 70%;
        color: rgba(0, 0, 0, 0);
      }
    }
  }

  @media screen and (max-width: 1024px) {
    & {
      margin-right: 10px;
      margin-top: 2px;
    }

    &__form {
      width: 40px;
      height: 25px;
      margin-left: 1.56vw;
    }
  }
}