.footer-menu-block {
  display: flex;
  flex-direction: column;
  margin-right: 3.9vw;

  &:last-child {
    margin-right: 0;
  }

  &__title {
    margin-right: 10px;
    margin-left: 5px;
    text-transform: uppercase;
    font-size: 20px;
    color: #d6d0c9;
  }

  &__hr {
    width: inherit;
    height: 1px;
    background: #d6d0c9;
  }

  &__item {
    display: flex;
    flex-direction: column;
    margin-left: 8px;
    margin-right: 10px;
    font-size: 20px;
  }

  &__href {
    display: flex;
    align-items: center;
    color: #d6d0c9;
    margin-top: 15px;

    &_vk::before,
    &_fb::before,
    &_tw::before {
      content: "";
      display: block;
      width: 30px;
      height: 30px;
      margin-right: 10px;
    }

    &_vk::before {
      background: url("../img/social-icon(1).png") no-repeat;
    }

    &_fb::before {
      background: url("../img/social-icon(2).png") no-repeat;
    }

    &_tw::before {
      background: url("../img/social-icon(3).png") no-repeat;
    }

    &:hover {
      color: #ffffff;
    }
  }

  @media screen and (max-width: 1235px) {
    &__title {
      font-size: 1.62vw;
    }

    &__item {
      margin-left: 0.64vw;
      margin-right: 0.81vw;
      font-size: 1.62vw;
    }

    &__href {
      margin-top: 1.21vw;

      &_vk::before,
      &_fb::before,
      &_tw::before {
        width: 2.43vw;
        height: 2.43vw;
        margin-right: 0.81vw;
        background-size: 100%;
      }
    }
  }

  @media screen and (max-width: 1024px) {
    &__title {
      margin-right: 0.98vw;
      margin-left: 0.49vw;
    }
  }
}